div.main{
    $main-color: blue;
    font-size: 2em;
    a{
        color: $main-color;
        $main-color:pink;
    }
    div{
        color:$main-color;
    }
    &:hover{
        background:yellow;
        color:$main-color;
        font-size: 3em;
    }
    color: $main-color;
}

// div.sub{
//     color: $main-color;
// }