.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-align-center > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: 'PingFang TC','Noto Sans TC', sans-serif;
  color: #3F5D45;
  fill: #3F5D45;
  background: white;
}

img {
  width: 100%;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

header, main {
  max-width: 940px;
  margin: 30px auto;
}

header nav.menu {
  font-size: 0.8em;
  line-height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav.menu h1 {
  background-image: url("../img/logo-all-dark.svg");
  background-repeat: no-repeat;
  width: 220px;
  height: 40px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

header nav.menu ul li {
  margin: 0 1em;
}

header nav.menu ul li:last-child {
  margin-left: 2em;
}

header nav.menu ul li button {
  color: #3F5D45;
  fill: #3F5D45;
  background: white;
}

main > * {
  margin: 30px auto;
}

main .banner {
  padding-bottom: 30px;
}

main .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .wraper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .menu {
  width: 300px;
}

main .menu ul {
  width: 100%;
}

main .menu ul li button {
  width: 100%;
  line-height: 40px;
  height: 65px;
  font-weight: 600;
  font-size: 1.2em;
  border-style: solid;
  border-width: 1px;
  border-color: #EAF0ED;
  color: #3F5D45;
  fill: #3F5D45;
  background: white;
}

main .menu ul li button.selected {
  color: #3F5D45;
  background: #EAF0ED;
}

main .menu ul li:first-child button {
  font-weight: 600;
  color: #EAF0ED;
  fill: #EAF0ED;
  background: #3F5D45;
}

main .goods {
  width: 640px;
}

main .goods .cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .goods .cards ul li.card {
  width: 300px;
  margin: 0 0 20px 20px;
}

main .goods .cards ul li.card:last-child {
  margin-bottom: 30px;
}

main .goods .cards ul li.card .pic {
  position: relative;
}

main .goods .cards ul li.card .pic > * {
  position: absolute;
}

main .goods .cards ul li.card .pic > *:first-child {
  position: relative;
}

main .goods .cards ul li.card .pic .favorite {
  right: 22px;
  top: 19px;
  background: transparent;
}

main .goods .cards ul li.card .pic .favorite img {
  width: 26px;
}

main .goods .cards ul li.card .pic .tag {
  font-weight: 600;
  color: #EAF0ED;
  fill: #EAF0ED;
  background: #3F5D45;
  top: 0;
  left: 1em;
  font-size: 0.8em;
  line-height: 20px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  height: 107px;
  line-height: 36px;
  letter-spacing: 0.2em;
}

main .goods .cards ul li.card .info {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}

main .goods .cards ul li.card .info > * {
  border-style: solid;
  border-width: 1px;
  border-color: #EAF0ED;
  margin-right: -1px;
  padding: 1em 0;
}

main .goods .cards ul li.card .info .name {
  width: 173px;
}

main .goods .cards ul li.card .info .price {
  width: 127px;
  font-weight: 600;
}

main .goods .cards ul li.card .add_cart {
  color: #3F5D45;
  background: #EAF0ED;
  width: 100%;
  font-weight: 600;
  font-size: 1.2em;
  height: 65px;
}

main .goods .cards ul li.card .add_cart:hover {
  font-weight: 600;
  color: #EAF0ED;
  fill: #EAF0ED;
  background: #3F5D45;
}

main .goods .pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .goods .pagination ul li {
  text-align: center;
}

main .goods .pagination ul li button {
  color: #3F5D45;
  fill: #3F5D45;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: #EAF0ED;
  width: 60px;
  height: 60px;
  margin-right: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

main .goods .pagination ul li button img {
  width: 24px;
  height: 24px;
}

main .goods .pagination ul li button.selected {
  font-weight: 600;
  color: #EAF0ED;
  fill: #EAF0ED;
  background: #3F5D45;
}

footer {
  text-align: left;
}

footer .container {
  width: 780px;
  margin: 0 auto;
}

footer .subscribe {
  font-weight: 600;
  color: #EAF0ED;
  fill: #EAF0ED;
  background: #3F5D45;
  padding: 30px 0;
}

footer .subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .subscribe h1 {
  font-size: 24px;
  font-weight: normal;
}

footer .subscribe .send_email {
  width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EAF0ED;
}

footer .subscribe .send_email .icon_mail {
  padding-left: 20px;
}

footer .subscribe .send_email input {
  color: #3F5D45;
  background: #EAF0ED;
  border: none;
  height: 100%;
}

footer .subscribe .send_email button {
  height: 56px;
  width: 64px;
  background-color: #FFE180;
}

footer .subscribe .send_email button img {
  width: 24px;
  height: 24px;
}

footer .contact {
  color: #3F5D45;
  background: #EAF0ED;
  padding: 30px 0;
}

footer .contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact .content .logo_txt {
  margin-top: 10px;
  margin-bottom: 115px;
}

footer .contact .content .info {
  line-height: 24px;
  font-size: 0.8em;
  font-weight: normal;
  margin-bottom: 30px;
}

footer .contact .content .social_btns a {
  color: transparent;
}

footer .contact h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

footer .contact .wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact .copy_right {
  font-size: 0.8em;
  font-family: "Times";
}

footer img[alt=arrow_forward] {
  width: 16px;
  height: 16px;
}

footer img[alt=icon_mail] {
  width: 24px;
  height: 24px;
}

footer img[alt=logo_light], footer img[alt=icon_line], footer img[alt=icon_fb] {
  width: 32px;
  height: 32px;
}

footer img[alt=logo_light][alt=logo_light], footer img[alt=icon_line][alt=logo_light], footer img[alt=icon_fb][alt=logo_light] {
  margin-right: 20px;
}

footer img[alt=logo_txt] {
  width: 172px;
}
/*# sourceMappingURL=index.css.map */